﻿@page "/tickets"

<PageTitle>Tickets</PageTitle>

@using TicketManager.Models.DTO
@using TicketManager.Models.Enums
@using TicketManager.Services.Repositories
@inject IJSRuntime JSRuntime
@inject ITagRepository TagRepository
@inject ITicketRepository TicketRepository

<h1>Tickets</h1>

<LinkButton Location="tickets/open" Type=ButtonType.Primary Text="Create" />

@if (!loaded)
{
    <Loading />
}
else
{
    <table class="table mt-2">
        <thead>
            <tr>
                <th style="width: 15%;">Actions</th>
                <th style="width: 5%;">ID</th>
                <th>Title</th>
                <th style="width: 10%;">Ext. Code</th>
                <th style="width: 20%;">Created by</th>
                <th style="width: 15%;">Created at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in tickets!)
            {
                <tr>
                    <td>
                        <a href="tickets/view/@ticket.Id" class="btn btn-primary btn-sm">View</a>                       
                        <AuthorizeView Roles="@Constants.Roles.Admin">
                            <button type="button" class="btn btn-danger btn-sm" @onclick="() => OnTicketRemovedAsync(ticket.Id)">Remove</button>
                        </AuthorizeView>
                    </td>
                    <td>@ticket.Id</td>
                    <td>@ticket.Title</td>
                    <td>@ticket.ExternalCode</td>
                    <td>@ticket.CreatedByUserName</td>
                    <td>
                        <span data-bs-toggle="tooltip" data-bs-placement="left" title="@ticket.CreatedAt">
                            @ticket.CreatedAt.Humanize()
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool loaded;
    private IEnumerable<TicketSummary>? tickets;
    private IEnumerable<TagGroupDetails>? tagGroups;

    protected override async Task OnInitializedAsync()
    {
        await ReloadDataAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("initializeTooltips");
    }

    private async Task OnTicketRemovedAsync(int ticketId)
    {
        loaded = false;
        await TicketRepository.RemoveTicketAsync(ticketId);
        await ReloadDataAsync();
    }

    private async Task ReloadDataAsync()
    {
        tickets = (await TicketRepository.GetAllTicketSummariesAsync())
            .OrderByDescending(x => x.CreatedAt)
            .ThenBy(x => x.CreatedByUserName)
            .ToList();

        tagGroups = (await TagRepository.GetAllTagGroupsAsync())
            .OrderBy(x => x.Name)
            .ToList();

        loaded = true;
    }
}
