﻿@page "/tickets/open"

<PageTitle>Open Ticket</PageTitle>

@using TicketManager.Models.DTO
@using TicketManager.Models.Enums
@using TicketManager.Services.Repositories
@inject NavigationManager NavigationManager
@inject ITagRepository TagRepository
@inject ITicketRepository TicketRepository

<h1>Open a new Ticket</h1>

@if (!loaded)
{
    <Loading />
}
else
{
    <EditForm Model="@newTicket" OnValidSubmit="OnNewTicketAddedAsync" class="row g-3">
        <DataAnnotationsValidator />
        <div class="col-9">
            <label class="visually-hidden" for="Title">Title</label>
            <InputText @bind-Value="newTicket.Title" class="form-control" id="Title" placeholder="Title" />
            <ValidationMessage For=@(() => newTicket.Title) />
        </div>
        <div class="col-3">
            <label class="visually-hidden" for="ExternalCode">External Code</label>
            <InputText @bind-Value="newTicket.ExternalCode" class="form-control" id="ExternalCode" placeholder="External Code" />
            <ValidationMessage For=@(() => newTicket.ExternalCode) />
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="Name">Name</label>
            <InputTextArea @bind-Value="newTicket.Description" class="form-control" id="Desciption" placeholder="Description" rows="10" />
            <ValidationMessage For=@(() => newTicket.Description) />
        </div>
        <div class="col-3">
            <label for="Priority">Priority</label>
            <InputSelect @bind-Value="priorityTagId" class="form-select" id="Priority">
                @foreach (var tag in tags.Where(x => x.GroupId == TagGroup.Priority))
                {
                    <option value=@tag.Id>@tag.Name</option>
                }
            </InputSelect>
        </div>
        <div class="col-3">
            <label for="Category">Category</label>
            <InputSelect @bind-Value="categoryTagId" class="form-select" id="Category">
                @foreach (var tag in tags.Where(x => x.GroupId == TagGroup.Category))
                {
                    <option value=@tag.Id>@tag.Name</option>
                }
            </InputSelect>
        </div>
        <div class="col-3">
            <label for="OperatingSystem">Operating System</label>
            <InputSelect @bind-Value="operatingSystemTagId" class="form-select" id="OperatingSystem">
                @foreach (var tag in tags.Where(x => x.GroupId == TagGroup.OperatingSystem))
                {
                    <option value=@tag.Id>@tag.Name</option>
                }
            </InputSelect>
        </div>
        <div class="col-3">
            <label for="Product">Product</label>
            <InputSelect @bind-Value="productTagId" class="form-select" id="Product">
                @foreach (var tag in tags.Where(x => x.GroupId == TagGroup.Product))
                {
                    <option value=@tag.Id>@tag.Name</option>
                }
            </InputSelect>
        </div>
        <div class="col-12">
            <label for="Attachment">Attachment</label>
            <InputFile OnChange="OnInputFileChanged" class="form-control" id="Attachment"  />
        </div>
        <div class="col-12">
            <input type="submit" value="Open" class="btn btn-primary" />
        </div>
    </EditForm>
}

@code {
    private bool loaded;
    private NewTicket? newTicket;
    private IEnumerable<TagDetails>? tags;
    private int? priorityTagId;
    private int? categoryTagId;
    private int? operatingSystemTagId;
    private int? productTagId;
    private IBrowserFile? attachment;

    protected override async Task OnInitializedAsync()
    {
        await ReloadDataAsync();
    }

    private async Task OnNewTicketAddedAsync()
    {
        loaded = false;

        newTicket.TagIds = new List<int>();
        if (priorityTagId.HasValue) 
        {
            newTicket.TagIds.Add(priorityTagId.Value);
        }
        if (categoryTagId.HasValue) 
        {
            newTicket.TagIds.Add(categoryTagId.Value);
        }
        if (operatingSystemTagId.HasValue) 
        {
            newTicket.TagIds.Add(operatingSystemTagId.Value);
        }
        if (productTagId.HasValue) 
        {
            newTicket.TagIds.Add(productTagId.Value);
        }

        if (attachment != null)
        {
            using var memoryStream = new MemoryStream();
            using var inputFile = attachment.OpenReadStream(maxAllowedSize: 10*1024*1024);
            await inputFile.CopyToAsync(memoryStream);
            newTicket.Attachment = memoryStream.ToArray();
        }

        await TicketRepository.AddTicketAsync(newTicket);

        NavigationManager.NavigateTo("/tickets");
    }

    private void OnInputFileChanged(InputFileChangeEventArgs e)
    {
        attachment = e.File;
    }

    private async Task ReloadDataAsync()
    {
        newTicket = new NewTicket();

        tags = (await TagRepository.GetAllTagsAsync())
            .OrderBy(x => x.GroupName)
            .ThenBy(x => x.Name)
            .ToList();

        priorityTagId = tags.FirstOrDefault(x => x.GroupId == TagGroup.Priority)?.Id;
        categoryTagId = tags.FirstOrDefault(x => x.GroupId == TagGroup.Category)?.Id;
        operatingSystemTagId = tags.FirstOrDefault(x => x.GroupId == TagGroup.OperatingSystem)?.Id;
        productTagId = tags.FirstOrDefault(x => x.GroupId == TagGroup.Product)?.Id;

        loaded = true;
    }
}
