﻿@page "/tickets/view/{TicketId:int}"

<PageTitle>View Ticket</PageTitle>

@using TicketManager.Models.DTO
@using TicketManager.Services.Repositories
@inject IJSRuntime JSRuntime
@inject ITicketRepository TicketRepository

<h1>Ticket #@TicketId</h1>

<a href="tickets" class="btn btn-primary">Back</a>

@if (!loaded) 
{
    <Loading />
}
else if (ticket == null)
{
    <p>Ticket with ID #@TicketId was not found or you are not allowed to view it.</p>
}
else 
{
    <h2 class="mt-2">@ticket.Title</h2>

    <div class="row mt-4">
        <div class="col-6">
            <h3>Information</h3>

            <p>Created by: <strong>@ticket.CreatedByUserName</strong></p>
            <p>Created at: <strong data-bs-toggle="tooltip" data-bs-placement="right" title="@ticket.CreatedAt">@ticket.CreatedAt.Humanize()</strong></p>
            <p>External code: <strong>@ticket.ExternalCode</strong></p>
        </div>

        <div class="col-6">
            <h3>Description</h3>

            <p>@ticket.Description</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h3>Tags</h3>

            @foreach (var tag in ticket.Tags)
            {
                <p>@tag.GroupName: <strong>@tag.Name</strong></p>
            }
        </div>

        <div class="col-6">
            <h3>Attachment</h3>

            @if (!ticket.HasAttachment)
            {
                <p>No file has been attached.</p>
            }
            else 
            {
                <button type="button" class="btn btn-primary" @onclick="DownloadAttachmentAsync">Download</button>
            }
        </div>
    </div>
}

@code {
    private bool loaded;
    private TicketDetails? ticket;

    [Parameter]
    public int TicketId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ReloadDataAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("initializeTooltips");
    }

    private async Task ReloadDataAsync()
    {
        ticket = await TicketRepository.GetTicketDetailsAsync(TicketId);

        loaded = true;
    }

    private async Task DownloadAttachmentAsync()
    {
        var attachmentBytes = await TicketRepository.GetTicketAttachmentAsync(TicketId);
        using var attachmentStream = new MemoryStream(attachmentBytes);
        using var attachmentStreamRef = new DotNetStreamReference(attachmentStream);
        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", "attachment.pdf", attachmentStreamRef);
    }
}