﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>Ticket Manager</h1>

<AuthorizeView>
    <Authorized>
        Welcome to Ticket Manager. Go to <a href="Tickets">Tickets</a>.
    </Authorized>
    <NotAuthorized>
        Welcome to Ticket Manager. You can <a href="Identity/Account/Register">Register</a>
        or <a href="Identity/Account/Login">Log in</a>.
    </NotAuthorized>
</AuthorizeView>