﻿@page "/tags"
@attribute [Authorize(Roles = Constants.Roles.Admin)]

<PageTitle>Tags</PageTitle>

@using TicketManager.Models.DTO
@using TicketManager.Models.Enums
@using TicketManager.Services.Repositories
@inject ITagRepository TagRepository

<h1>Tags</h1>

@if (!loaded)
{
    <Loading />
}
else
{
    <EditForm Model="@newTag" OnValidSubmit="OnNewTagAddedAsync" class="row row-cols-lg-auto g-3">
        <DataAnnotationsValidator />
        <div class="col-12">
            <label class="visually-hidden" for="GroupId">Group</label>
            <InputSelect @bind-Value="newTag.GroupId" class="form-select" id="GroupId">
                @foreach (var tagGroup in tagGroups!)
                {
                    <option value=@tagGroup.Id>@tagGroup.Name</option>
                }
            </InputSelect>
            <ValidationMessage For=@(() => newTag.GroupId) />
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="Name">Name</label>
            <InputText @bind-Value="newTag.Name" class="form-control" id="Name" placeholder="Name" />
            <ValidationMessage For=@(() => newTag.Name) />
        </div>
        <div class="col-12">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </EditForm>

    <table class="table mt-2">
        <thead>
            <tr>
                <th style="width: 15%;">Actions</th>
                <th>Group</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in tags!)
            {
                <tr>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="() => OnTagRemovedAsync(tag.Id)">Remove</button>
                    </td>
                    <td>@tag.GroupName</td>
                    <td>@tag.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool loaded;
    private IEnumerable<TagDetails>? tags;
    private IEnumerable<TagGroupDetails>? tagGroups;
    private NewTag? newTag;

    protected override async Task OnInitializedAsync()
    {
        await ReloadDataAsync();
    }

    private async Task OnNewTagAddedAsync()
    {
        loaded = false;
        await TagRepository.AddTagAsync(newTag!);
        await ReloadDataAsync();
    }

    private async Task OnTagRemovedAsync(int tagId)
    {
        loaded = false;
        await TagRepository.RemoveTagAsync(tagId);
        await ReloadDataAsync();
    }

    private async Task ReloadDataAsync()
    {
        tags = (await TagRepository.GetAllTagsAsync())
            .OrderBy(x => x.GroupName)
            .ThenBy(x => x.Name)
            .ToList();

        tagGroups = (await TagRepository.GetAllTagGroupsAsync())
            .OrderBy(x => x.Name)
            .ToList();

        newTag = new NewTag { GroupId = TagGroup.Category };

        loaded = true;
    }
}
