﻿@using System.Text.Json.Nodes
@using Microsoft.AspNetCore.Components.Rendering
@using TicketManager.Models.Enums

<a href="@Location" class="btn btn-@Type.ToString().ToLower()">@Text</a>

@code {
	[Parameter, EditorRequired]
	public string Location { get; set; } = "#";

	[Parameter, EditorRequired]
	public string Text { get; set; } = string.Empty;

	[Parameter, EditorRequired]
	public ButtonType Type { get; set; }

	public static void BuildFromJson(RenderTreeBuilder builder, JsonObject componentSpec, Templater.Counter counter)
	{
		if (componentSpec.TryGetPropertyValue(nameof(Text), out var titleNode))
		{
			builder.AddAttribute(1, nameof(Text), titleNode.ToString());
		}
		if (componentSpec.TryGetPropertyValue(nameof(Type), out var typeNode))
		{
			builder.AddAttribute(2, nameof(Type), Enum.Parse<ButtonType>(typeNode.ToString()));
		}
	}
}
