﻿@using Microsoft.AspNetCore.Components.Rendering
@using System.Text.Json.Nodes

<p><em>Loading...</em></p>

@code {
	public static void BuildFromJson(RenderTreeBuilder builder, JsonObject componentSpec, Templater.Counter counter)
	{
		// Nothing to do...
	}
}