﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ticket Manager</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="tickets">
                    <span class="oi oi-bell" aria-hidden="true"></span> Tickets
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="@Constants.Roles.Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="tags">
                    <span class="oi oi-tags" aria-hidden="true"></span> Tags
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="playground">
                    <span class="oi oi-brush" aria-hidden="true"></span> Playground
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
